In [61]:
import pandas as pd
import numpy as np

In [62]:
SEED = 777
np.random.seed(SEED)

In [2]:
df = pd.read_csv('bodyfat.csv')

In [4]:
df.head()

,Density,BodyFat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [7]:
# df.drop('Age', axis=1)

In [5]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Age', axis=1),
                                                   df.Age,
                                                   test_size=0.2,
                                                   random_state = SEED
                                                   )

In [43]:
X_train.head()

,Density,BodyFat,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
250,1.0399,26.0,190.75,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
174,1.0414,25.3,226.75,71.75,41.5,115.3,108.8,114.4,69.2,42.4,24.0,35.4,21.0,20.1
79,1.0560,18.8,171.25,69.25,37.4,102.7,98.6,100.2,56.5,39.3,22.7,30.3,28.7,19.0
26,1.0811,7.9,131.50,67.50,36.2,88.6,74.6,85.3,51.7,34.7,21.4,28.7,27.0,16.5
72,1.0796,8.5,160.75,73.75,36.4,93.6,82.9,96.3,52.9,37.5,23.1,29.7,27.3,18.2

In [44]:
X_train.shape

(201, 14)

In [45]:
y_train.median()

44.0

In [46]:
X_test.shape

(51, 14)

In [47]:
y_test.median()

43.0

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
lr = LinearRegression()

In [50]:
lr.fit(X_train,y_train)

LinearRegression()

In [51]:
pred = lr.predict(X_test)

In [52]:
from sklearn.metrics import mean_absolute_error

In [53]:
print('Ошибка на тесте', mean_absolute_error(y_test, pred))

Ошибка на тесте 6.778270672876781

In [54]:
print('Ошибка на обучающей выборке', mean_absolute_error(y_train, lr.predict(X_train)))

Ошибка на обучающей выборке 6.654949490994426

In [55]:
result = X_test

In [57]:
result['real'] = y_test
result['predict'] = pred

In [60]:
result[['real','predict']].to_excel('out1.xlsx')